.itemDetailContainer{
    display: grid;
    background-color: rgb(173, 173, 173);
    width: 520px;
    height: 320px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "img img img tit tit tit"
    "img img img des des des" "img img img des des des"
    "img img img price price price" "img img img price price price"
    "img img img count count count";
    border-radius: 10px;
    margin: 12px auto;
}

h2{
    grid-area: tit;
}

.itemDetailContainer img{
    grid-area: img;
    align-self: center;
    justify-self: center;
    width: 220px;
}

.itemDetailDes{
    grid-area: des;
    display: flex;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    margin: 0;
}

.itemDetailPrice{
    grid-area: price;
    font-size: 30px;
    display: flex;
    height: max-content;
    margin: 0;
    align-self: center;
}

.itemCountDetail{
    grid-area: count;
    background-color: black;
    padding: 10px
}

