.itemCard{
    margin: 0;
    width: 200px;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 'img' 'img' 'img'
    'tit' 'price';
}

img{
    grid-area: img;
    justify-self: center;
}

h2{
    grid-area: tit;
}

h3{
    grid-area: price;
}